.comment-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
}

.comment-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comment-modal-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding-block: 20px;
}

.comment-modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

